
nav .nav-link{
  color: white;
  font-weight: 600;
  padding: 10px;
  border-radius: 5px;
 
}
nav .nav-link:hover{
 background-color: white;
 color: #198754;

}

.navbar-brand
{
  font-weight: 600;
  font-size: 1.4rem;
  color: white;
  padding: 10px;
  border: 1px solid white;
  color: #198754;
  background-color: white;
 border-radius: 5px;
}
.navbar-brand:hover{
  color: white;
  background-color: #198754;
}
.my-3
{
  margin: 7%;
}
